
body{
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Montserrat', sans-serif;
}


::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    box-shadow: #2C5364;
    -webkit-box-shadow: inset 0 0 6px rgba(32, 31, 31, 0.3); 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    box-shadow: #2C5364;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(158, 147, 147, 0.5); 
}



@media screen and (min-width: 900px) {
    
    .left-container,.right-container{
        max-height: 88vh;
        overflow-y: scroll;
    }
    .editor-container{
        height: 75vh;
    }
    .btn{
        margin: .8vh;
        font-size: 2vh;
    }
    footer{
        height: 1vh;
    }

}
@media screen and (max-width: 900px) {

    .editor-container{
        height: 76vh;
    }
    .btn{
        font-size: 2vh;
    }
    footer{
        height: 7vh;
    }


}



#editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 17px;
    border-radius: .4em;
}
.editor-container{
    width: 100%;
}
.status-bar{
    background-color: #2C5364;
    border-radius: .4rem;
}
.btn{
    float: right;
}
textarea{
    width: 100%;
    resize: none;
    padding-left: .5em;
    background-color: #203A43;
    border: none;
    color: rgb(82, 188, 197);
    font-size: 1rem;
}
.card{
    border: none;
    width: 100%;
    margin-top: .5rem;
}
.right-border{
    border-right: solid;
    color: #0F2027;
}
.card-header{
    max-height: 1em;
    background-color: #2C5364;
    padding-bottom: 1.5em;
}
.card-body{
    background-color: #203A43;
}
pre{
    white-space:pre-wrap;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    color: rgb(82, 188, 197);
    font-size: 1rem;
}
p{
    color: rgb(82, 188, 197);
    font-size: 1rem;
}
h6{
    font-weight: bolder;
}

