{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
    </script>
    </script>
    <!-- Bootstrap CSS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
          integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" href="{% static 'Home/index.css' %}">
    <title>ANOJ | A place where we judge you by your code</title>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <a class="navbar-brand">ANOJ</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            {% if user.is_authenticated %}
                <a class="nav-item nav-link" href="contest">Contest</a>
            {% endif %}
            <a class="nav-item nav-link" href="#">Features</a>
        </div>
    </div>
    {% if user.is_authenticated %}
        <a class="navbar-brand">{{ user.first_name }}</a>
        <a class="btn btn-sm btn-danger" id="logOutBtn" href="{{ slug }}/logout">Logout</a>
    {% else %}
        <a class="btn btn-sm btn-primary" id="logOutBtn" href="{{ slug }}/login">Login/Register</a>
    {% endif %}

</nav>


<!-- For Not logged in users, As an IDE Only -->

<div class="row no-gutters" id="loggedOutPage">
    <div class="col-md-6 left-container">

        <div class="row no-gutters">
            <div class="col-sm-12 status-bar">
                <input style="display: none;" name="language">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenu2"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="ui-button-text" id="onScreenLanguage">Select Language</span>
                    </button>

                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button" onclick="languageSelector('c_cpp')">C++</button>
                        <button class="dropdown-item" type="button"
                                onclick="languageSelector('python')">Python
                        </button>
                        <button class="dropdown-item" type="button" onclick="languageSelector('java')">Java</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row no-gutters">
            <div class="col-sm-12 editor-container">
                <input type="hidden" name="code" style="display: none;">
                <div id="editor"></div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12 status-bar">
                <button type="button" class="btn btn-primary btn-sm">Run Code</button>
            </div>
        </div>


    </div>
    <div class="col-md-6 right-container">
        <div class="row no-gutters" style="margin-top: -.5rem;">
            <div class="col-sm-6 card no-gutters right-border">
                <h6 class="card-header">Custom Input</h6>
                <textarea name="customInput" id="customInput" data-gramm="false" style="min-height: 35vh;"></textarea>
            </div>
            <div class="col-sm-6 card no-gutters">
                <h6 class="card-header">Expected Output</h6>
                <textarea name="expectedInput" id="expectedInput" data-gramm="false"
                          style="min-height: 35vh;"></textarea>
            </div>
            <div class="col-sm-12 card no-gutters">
                <h6 class="card-header">Output</h6>
                <div class="card-body no-gutters">
                    <pre id="output" style="min-height: 35vh;">   </pre>
                </div>
            </div>

        </div>

    </div>
</div>


<footer style="text-align: center;padding: 1vh;">
    <h6>Copyright @Akhilesh</h6>
</footer>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'Home/src/ace.js' %}"></script>
<script src="{% static 'Home/src/ext-language_tools.js' %}"></script>
<script src="{% static 'Home/index.js' %}"></script>
<script src="{% static 'Home/api.js' %}"></script>

</body>

</html>